@model StudentResult

<table class="table table-bordered text-center">
	<thead>
		<tr>
			<th>Name</th>
			<th>Course</th>
			<th>Degree</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@Model.StudentName</td>
			<td>@Model.StudentCrs</td>
			<td>@Model.StudentDegree</td>
		</tr>
	</tbody>
</table>